

.containerBodyDeposit {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.containerDeposit h2 {
    margin-bottom: 20px ;

}

/* Deposit html  */
.containerBodyDeposit .back {
   
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.containerDeposit {
    width: 600px;
    
    
}

.back {
    margin-top:30px ;
}
.containerBodyDeposit .containerDeposit {
    display: flex;
    justify-content: center;
   
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;
}


.containerBodyDeposit .containerDeposit .containerAll {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.containerBodyDeposit .containerDeposit .containerAll h4 {
    font-weight: 700;
    font-size: 1.25rem;
}

.containerBodyDeposit .containerDeposit .containerAll .dropdown  {
    position: relative;
    margin-top: 4px;
    width: 100%;
    height: 42px;
}
.containerAll h4 {
    margin-top: 30px;
}
.transfer {
    display: flex;
    flex: 1;
    gap: 10px;
    align-items: center;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    height: 42px;
    padding: 9px 20px;
}

.containerBodyDeposit .containerDeposit .containerAll .dropdown  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding: 9px  20px;
    font-size: 16px;
    background: #fff;
    border: 1px solid #D9D9D9;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    outline: none;
}

.containerBodyDeposit .containerDeposit .containerAll .dropdown::before {
    content: '';
    position: absolute;
    top: 22px;
    right: 28px;
    width: 12px;
    height: 2px;
    background: #000;
    z-index: 10;
    transform: rotate(40deg);
    transition: 0.5s;
}

.containerBodyDeposit .containerDeposit .containerAll .dropdown.active::before {
    right: 20px;
}

.containerBodyDeposit .containerDeposit .containerAll .dropdown::after {
    content: '';
    position: absolute;
    top: 22px;
    right: 20px;
    width: 12px;
    height: 2px;
    background: #000;
    z-index: 10;
    transform: rotate(-40deg);
    transition: 0.5s;
}

.containerBodyDeposit .containerDeposit .containerAll .dropdown.active::after {
    right: 28px;
}

.containerBodyDeposit .containerDeposit .containerAll .dropdown .option {
    position: absolute;
    z-index: 10;
    top: 45px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transform: 0.25s;
}

.containerBodyDeposit .containerDeposit .containerAll .dropdown.active .option {
    visibility: visible;
    opacity: 1;
}

.containerBodyDeposit .containerDeposit .containerAll .dropdown .option .optionCoin {
    padding: 12px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.containerBodyDeposit .containerDeposit .containerAll .dropdown .option .optionCoin:hover {
    background: #62baea;
    color: #fff;
}

h6 {
    font-size: 14px;
    font-weight: 400;
    margin-left: 6px;
    color: #848484;

}
.containerBodyDeposit .containerDeposit .containerAll .note {
    gap: 13.5px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.containerBodyDeposit .containerDeposit .containerAll .note h4 {
    font-weight: 400;
    line-height: 14.52px;
}
.qrcodeColumn {
    padding: 35px 25px;
}

.containerBodyDeposit .containerDeposit .containerAll .inputCopy {
    position: relative;
    margin-top: 4px;
    width: 100%;
    height: 42px;
}
.inputCopy input {
    font-size: 16px !important;
}

.containerBodyDeposit .containerDeposit .containerAll .inputCopy input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding: 9px 20px 9px 20px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #D9D9D9;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    outline: none;
}

.containerBodyDeposit .containerDeposit .containerAll .inputCopy button {

    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    background: none;
    border: none;
    position: absolute;
    color: #848484;
    font-size: 14px;
    font-weight: 700;
}

.containerBodyDeposit .containerDeposit .containerAll .qrcode {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}
.containerBodyDeposit .containerDeposit .containerAll .qrcode .qrcodeColumn {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.containerBodyDeposit .containerDeposit .containerAll .qrcode .reload {
    position: absolute;
    margin-left: 300px;
}

.containerBodyDeposit .containerDeposit .containerAll .transitionHistory {
    width: 100%;
    height: 42px;
    background: #D9D9D9;
    margin-top: 18px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerBodyDeposit .containerDeposit .containerAll .transitionHistory h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
}

.containerBodyDeposit .containerDeposit .containerAll .confirm {
    width: 100%;
    height: 42px;
    margin-top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerBodyDeposit .containerDeposit .containerAll .confirm h4 
  {
    font-size: 18px;
    font-weight: 700;
    line-height: 16.94px;
    color: #fff;
    width: 263px;
    height: 42px;
    background: #319BFC;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-transfer {
    background: #319BFC;
    border-radius: 10px;
    border:  1px solid #319BFC;
    color: white;
    margin-bottom: 50px;
    margin-top: 18px;
}

.containerBodyDeposit .containerDeposit .containerAll .inputAmount {
    position: relative;
    margin-top: 4px;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.containerBodyDeposit .containerDeposit .containerAll .inputAmount input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 9px 20px 9px 20px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #D9D9D9;
    border-right: 0px solid #D9D9D9;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    outline: none;
}

.containerBodyDeposit .containerDeposit .containerAll .inputAmount .btnAmount {
    padding: 0 10px 0 10px;
    border: 1px solid #D9D9D9;
    border-left: 0px solid #D9D9D9;
    background: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    height: 42px;
}

.containerBodyDeposit .containerDeposit .containerAll .inputAmount .divAmount {
    width: auto;
    height: 100%;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-left: 0px solid #D9D9D9;
    background: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;

}

.containerBodyDeposit .containerDeposit .containerAll .inputAmount .btnAmount button{
    position: relative;
    display: inline;
    color: #319BFC;
    border-radius: 4px;
    padding: 2px 6px 2px 6px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    overflow: hidden;
    transition: 0.2s;
    font-weight: 700;
    border: none;
    background: none;
}

.containerBodyDeposit .containerDeposit .containerAll .inputAmount .btnAmount button:hover {
    color: #fff;
    font-weight: 700;
    background: #319BFC;
    box-shadow: 0 0 10px #319BFC, 0 0 40px #319BFC, 0 0 80px #319BFC;
    transition-delay: 0.5s;
}

.containerBodyDeposit .containerDeposit .containerAll .available {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4px 0 26px 0;
}

.containerBodyDeposit .containerDeposit .containerAll .available h5 {
    font-size: 14px;
    font-weight: 400;
    color: #000;   
}


.status-popup {
    display: none;
    position: fixed;
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #c26161;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px;
    transition: all 1s ease-out;
}

.payment {
    margin-bottom: 90px;
}
.p-item  {

    padding: 10px;
}
.p-item {
    display: grid;
    grid-template-columns: 40% 60%;
}
.p-item  h4 {
    margin-top: 0;
}

@media (max-width: 768px) {
   
    .containerDeposit {
        width: 500px;
    }
}

@media (max-width: 576px) {
   
    .containerDeposit {
        width: 400px;
    }
}
@media (max-width: 410px) {
    .containerDeposit {
        width: 350px;
    }
    .containerDeposit h2 {
        margin-bottom: 0;
    }

}