@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    /* Color */
    --primary-color: #319BFC;
    --heading-color: #c5ebf5;
    --text-color: white;

    /* Typography */
    --body-ff: 'Inter', sans-serif;
  --fs-base: 1rem;
  --lh-base: calc(30 / 16);
    /* Container */
    --container-padding: 1.875rem;
    /* boder */
    --border-radius: 10px;
  }

i {
    cursor: pointer;
}
body {
    /* background-color: #c5ebf5; */
    min-height: 100vh
}
body {
    font-family: var(--body-ff);
    font-size: var(--fs-base); 
   font-weight: 400;
    color: var(--body-color);
    background-color: #F1EFEF;
}
.container {
    max-width: 87.5rem;
    margin: 0 auto;
    padding: 0 1.875rem
}
.container-fluid {
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

h2 {
font-size: 2rem ;
font-weight: 700;
line-height: 26px;

}
h3 {
    font-size: 1.5rem;
    font-weight: 700;
line-height: 26px;
}
i {
    font-size: 26px;
}

h4 {
font-weight: 400;
font-size: 1rem;
line-height: 26px;
}
h5 {
    font-size: 19px;
    line-height: calc(40 / 30);
    font-weight: 400;
}
a {
    text-decoration: none;
    color: black;
}
button {
   
    padding: 10px 45px;
   
        cursor: pointer;
    
    
}
button:hover {
    color: #000;
    animation: headShake; 
    animation-duration: 1s; 
}
nav {
    background-color: var(--primary-color);
    color: white;
}
/* navbar */
.brand-img {
    padding-right: 66px;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 16px  0;
}
.navbar-nav {
    display: flex;
    align-items: flex-end;
    list-style: none;
    padding: 0;
    gap: 20px;
}
.navbar-action {
    background-color: #fff;
    background-color: #fff;
    max-width: 70vw;
}
.nav-item {
    color: #000;
}
.search-input {
    border: 0px solid #fff;
    outline: none;
    transition: width 0.3s;
}
.navbar-icon{
display: flex;
align-items: center;
gap: 22px;
}
.nav-text {
    font-family: var(--body-ff);
    font-size: var(--fs-base);
   color: #000;
   text-align: center;
   padding-top: 2px;
}
.nav-text:hover {
    color: #fff;
}
.icon-none {
    display: none;
}

a.icon-user{
    display:flex;
    align-items:center;
    transition:all .6s ease;
}
    a.icon-user i:hover{
        color:white!important;
    }
    
    .navbar-menu {
        display: none;
      }    
      /* header */
      .header-nav, .nav-item{
        display:flex;
        align-items:center;
        font-weight:bold;
        flex:1;
        font-size:1.2rem;
        
        
    }
    .header-search {
        display: flex;
        align-items: center;
        border-radius: 6px;
        padding:0 10px;
        max-width:340px;
    }
    .search-input{
        padding:8px 8px;
        border-radius:20px;
        margin-top:0;
        font-size:1rem;
    
    }
    .header-search-body{
        width:100%;
        display:flex;
        justify-content:flex-end;
        margin-right:20px
    }
    
    .nav-item {
        position: relative;
        transition: .5s;
        cursor: pointer;
        line-height:1.4rem;
        color:white;
    }
        .nav-item::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            top: 100%;
            left: 0;
            transition: transform .5s;
            transform: scale(0);
            transform-origin: right;
            background-color:white;
        }
        .nav-item:hover {
            color: white;
        }
    
            .nav-item:hover::after {
                transform: scale(1);
                transform-origin: left;
            }
    
    .nav-item-more{
        position:relative;
    }
        .nav-item-more::after{
            position:absolute;
            content:"";
            width:160px;
            height:40px;
            left:-10px;
            background-color:transparent;
        }
        .nav-item-more:hover .nav-more-body {
            display: flex;
        }
        .nav-more-body {
            position: absolute;
            width: 220px;
            top: 240%;
            left: -10px;
            background-color: white;
            box-shadow: 0 1px 4px var(--border);
            color: black;
            font-weight: 500;
            display: none;
            flex-direction: column;
            border-radius: 6px;
            overflow: hidden;
            animation:fadein .4s ease;
        }
        @keyframes fadein{
            from{
                opacity:0;
                transform:translateY(20%);
            }
            to {
                opacity: 1 ;transform:translateY(0);
            }
        }
      
    .nav-more-link{
        padding:10px 10px;
        transition:.3s ease;
    }
        .nav-more-link i{
            width:40px;
        }
        .nav-more-link:hover {
            color: #0887fe;
        }
    .shadow.shadow-btn{
        transition:.3s ease;
    }
        .shadow.shadow-btn:hover {
            color: #f0ecec;
            --shadow-opacity: .5;
        }
       
    /*sidebar*/
    .sidebar {
        position: fixed;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        background-color: rgba(22,22,24,.6);
        z-index: 99;
    }
    
    @keyframes showout{
        from{
            opacity:0;
            transform:translateX(0);
        }
        to {
            opacity: 1;
            transform: translateX(100%);
        }
    }
    .sidebar-wrapper{
        position:absolute;
        right:0;
        top:0;
        bottom:0;
        width:220px;
        background-color:white;
        border-left:1px solid var(--border);
        display:flex;
        flex-direction:column;
        transition:.4s ease;
        transform:translateX(100%);
    }
    .sidebar-close {
        padding: 10px 20px;
        font-size: 18px;
        color: gray;
        transition: .3s ease;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 2px solid var(--border);
    }
    .sidebar-img{
        width:16%;
    }
    .sidebar-img img{
        width:100%;
    }
        .sidebar-close:hover {
            color: black;
            cursor: pointer;
            
        }
    .sidebar-close i{
        transition:.3s ease;
    }
    .sidebar-close i:hover {
        transform: rotate(90deg)
    }
    .sidebar-body {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .sidebar-item{
        padding:10px 20px;
        font-size:16px;
        color:var(--primary);
        color:black;
        transition:.3s ease;
        border-bottom:1px solid var(--border-color);
    
    }
    .sidebar-item i{
        margin-right: 16px;
        width:28px;
        color: #0887fe;
    }
        .sidebar-item:hover {
        color: #0887fe;
            background-color: var(--border-color);
        }
    .sidebar-bottom{
        margin-top:40px;
        display:flex;
        flex-direction:column;
    }
    .action{
        background-color:var(--border);
        color:black;
        margin:6px 0;
        border-radius:6px;
    }
    .action i{
       width:40px;
    }
    .sidebar-item.action:hover{
        background-color:#0887fe;
        color:white!important;
    }
    .sidebar-item.action:hover i{
        color:white;
    }
    .icon-item {
        font-size: 26px;
        color: white;
    }
    .nav-item i {
        font-size: 1rem;
    }
    .nav-search {
        font-size: 1rem;
        color: gray;
    }

/* footer */

/* footer */
.footer-link {
    --grid-cols: 6;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    gap: 1.875rem;
    flex-shrink: 0;
    padding: 48px 0;
    flex-wrap: wrap;
}
.footer-link ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    margin-top: 1.25rem;
    list-style: none;
  }
  .footer-link ul.text-md {
    list-style: none; 
    padding-left: 0;
}
.footer-link h5 {
    font-weight: 600;
}
.footer-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px; 
    text-align: center;
    margin-top: 1.25rem;

}
.footer__after {
    padding: 26px;
    font-size: 20px;
    font-weight: 600;
    background-color: #F1EFEF;
    text-align: center;
    align-items: center;
    border-top: 1px solid gray;
}

@media (min-width: 1400px) {
    .detailed-table-total {
        display: grid;
        grid-template-columns: 1fr repeat(3, 143px); 
        gap: 5px;
        align-items: center; 
        color: #FF0000;
       font-weight: 700;
    }
}
@media (max-width: 1100px) {
    /* .detailed-table {
        display: none;
    } */
  }
@media screen and (max-width: 1000px) {
    .containerNavBar .containerLogin .responsiveMenu {
        opacity: 1;
        visibility: visible;
    }
}
@media screen and (max-width: 800px) {
    .userName {
        display: flex;
        gap: 4px;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
}

@media screen and (min-height: 1000px) {
    
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column-reverse;
      }
      .footer-link {
          --grid-cols: 3;
        }
        .help-content {
            display: flex;
            flex-wrap: wrap;
        }
       
        .custom-table th.right-aligned,
        .custom-table td.right-aligned {
          display: none;
        }
 }
 @media (max-width: 640px) {
    .footer-link {
      --grid-cols: 2;
    }
  }
  @media (max-width: 480px) {
    /* html {
        font-size: 70%;
    } */
    .offers-header h2 {
         padding-bottom: 0;
  }
  .offers {
    padding-bottom: 0;
  }
  .footer-link {
    padding-top: 0;
  }
  .offers-box img {
    max-width: 75px;
  }
}
@media (max-width: 410px) {
    html {
        font-size: 80%;
    }
  
}
  @media (max-width: 300px) {
   
    .footer-link {
      --grid-cols: 1;
    }
}
  
    @media screen and (max-width:1110px) {
        .header-search{
        display:none;
    }
    .icon-none {
        display: block;
}

}

@media screen and (max-width:960px) {
.navbar-icon {
display: none;
}
.navbar-menu {
display: block;
}
}

@media screen and (max-width:768px) {
   
.navbar-nav {
    display: none;
}

}






